.menu-banner{
    background-image: url('../../assets/Menu-Short.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 350px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1; 
}
.menu-banner h1 {
    z-index: 2; 
}

/* branch */
.branch{
    background-image: url('../../assets/branch.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.branch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); 
    z-index: 1; 
}
.branch h1 {
    z-index: 2; 
}
/* lunch */
.lunch{
    background-image: url('../../assets/lunch.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lunch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}
.lunch h1 {
    z-index: 2; 
}

/* dinner */
.dinner{
    background-image: url('../../assets/dinner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dinner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1; 
}
.dinner h1 {
    z-index: 2; 
}